{% extends "layout.html" %}

{% block content %}
  <main class="jumbotron">
    <div class="container">

      <div class="section-content">
        <h2>Here We Go.</h2>
        <a href="{{ url_for('signup') }}" class="btn-primary">Testing POST and GET Requests</a>
        <a href="{{ url_for('about') }}" class="btn-primary">About Python and Flask</a>
      </div>

      <div class="section-image">
        <img src="static/img/IMG_0018.jpg">
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
