{% extends "layout.html" %}

{% block content %}
  <main class="jumbotron">
    <div class="container">

      <div class="section-content">
        <h2>Here We Go.</h2>
        <a href="#" class="btn-primary">Testing POST Requests</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Testing GET Requests</a>
      </div>

      <div class="section-image">
        <img src="static/img/IMG_0018.jpg">
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
